.flag-icon {
    width: 24px;
    height: 24px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    border-radius: 2px;
}

.country-wrapper:has(option[value="+62"]:checked) .flag-icon {
    background-image: url('asset/icon/Indonesia\(ID\).png');
}

.country-wrapper:has(option[value="+60"]:checked) .flag-icon {
    background-image: url('asset/icon/Malaysia\(MY\).png');
}

.country-wrapper:has(option[value="+61"]:checked) .flag-icon {
    background-image: url('asset/icon/Japan\(JP\).png');
}

.stars {
    --percent: calc(var(--rating) / 5 * 100%);

    font-size: 1rem;
    line-height: 14.25px;
    letter-spacing: 2px;
    height: 14.25px;
    position: relative;
    display: inline-block;
}

.stars::before {
    content: "★★★★★";
    color: var(--color-border);
    display: block;
}

.stars::after {
    content: "★★★★★";
    color: var(--color-warning-default);
    position: absolute;
    left: 0;
    top: 0;
    width: var(--percent);
    overflow: hidden;
    white-space: nowrap;
}

/* Footer */
.ftr-heading::after {
    content: url("../../asset/icon/arrow.png");
    transition: transform 0.5s ease;
}

.ftr-toggle:checked~.ftr-links {
    display: block;
}

.ftr-toggle:checked~.ftr-heading::after {
    transform: rotate(90deg);
}

.separator::before,
.separator::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid var(--color-border);
}